@{
    ViewData["Title"] = "Home";
}


<div class="text-center">
    <h1 class="display-3">Bem vindo ao sistema de estoque!</h1>
</div>
    <div class="container display-4 mt-5">
       
        <div class="d-flex align-items-center justify-content-center col">
            <img src="~/img/home/home-gif.svg" width="550" class="m-4"/>
            <span class="text-center align-align-middle p-2 m-3 fs-3">Interface simplificada e objetiva, para assim desenvolver a melhor interação usuário e servidor
                <br />
                <br />
                Projeto desenvolvido para o curso +Devs2Blu.
               </span>
        </div>
       
    </div>

