<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Estoque</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Sln.Estoque.Web.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/lib/svgs/brands" asp-append-version="true" />
	<link rel="stylesheet" href="~/lib/svgs/regular" asp-append-version="true" />
	<link rel="stylesheet" href="~/lib/svgs/solid" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-2">
			<div class="container-fluid">
				<img src="~/img/logo/logo.png" alt="Logo YF" width="70" height="50" class="d-inline-block align-top m-1">
				<a class="navbar-brand text-white fs-4" asp-area="" asp-controller="Home" asp-action="Index">Estoque</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-start">
					<ul class="navbar-nav flex-grow-1 justify-content-end m-1 fs-6">
						<li class="nav-item">
							<a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white" asp-area="" asp-controller="Category" asp-action="Index">Categorias</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white" asp-area="" asp-controller="Product" asp-action="Index">Produtos</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<div class="container">
		<main role="main" class="pb-2">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted mt-1">
		<div class="container text-white justify-content-center text-center fs-6">
			&copy; 2023 - Estoque Web - Bonetti
		</div>
	</footer>

	<!-- Messages using Modal Component -->
	<div class="modal fade" id="msgModal" tabindex="-1" aria-labelledby="msgModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5 " id="msgModalLabel">@ViewData["Title"]</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div id="modal-body" class="modal-body text-center aling-middle">
					...
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
					<button id="btnModalCallback" type="button" class="btn btn-danger">Excluir</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Messages using Toasts Component -->
	<div class="toast-container position-fixed bottom-0 end-0 p-3">
		<div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
			<div class="toast-header">
				<img src="~/img/logo/logo.png" alt="Logo YF" width="36" height="24" class="d-inline-block align-top m-1">
				<strong class="me-auto"><span id="toast-origin"></span></strong>
				<small id="toast-time">11:00</small>
				<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
			</div>
			<div class="toast-body" id="toast-body">
				Hello, world! This is a toast message.
			</div>
		</div>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
